body {
    box-sizing: border-box;
    overflow: hidden;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
}

#rectangle {
    position: absolute;
    background-color: orange;
    opacity: 0.6;
    border-radius: 8px;
}